body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* .avatar:hover {
    box-shadow: 2px 2px 250px #5B616A;
} */

.avatar {
    width: 150px;
    border: 2px solid #ABA9C3;
    border-radius: 5px;
    
}

.avatar:hover{
    animation-name: avatar-shadow;
    animation-duration: 4s;
}

@keyframes avatar-shadow {
  from {box-shadow: 0 0 0 #5B616A;}
  to {box-shadow: 2px 2px 150px #5B616A;}
}
.text-area:hover {
    color: #275DAD;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #CED3DC;
    color: #5B616A;
    border-bottom: 6px solid #ABA9C3;
    border-radius: 5px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
